---
import type { Article } from '@simse/app-cms/src/payload-types';
import { getAllArticles } from 'src/lib/cms';
import { prettyDate } from 'src/utils/date';

// load props
export interface Props {
  category?: string;
  pagination?: boolean;
}

const { 
    category = "",
    pagination = false
 } = Astro.props as Props;

// import components
import Image from './Image.astro';

// load articles
let articles = await getAllArticles();

// helper function to return article featured image or empty string if missing
const getImage = (article: Article): string => {
    if (typeof article.media === "string") {
        return ""; // returning empty string leads to image placeholder
    }

    if (!article.media) {
        return "";
    }

    return article.media?.cloudflareImageId || "";
}
---
<div>
    <h2 class="text-lg font-bold pb-2 mt-2 mb-4 w-full border-b border-white/20">2023</h2>

{articles.map(article => (
    <a href={`/article/${article.slug}`} class="pb-4 block">
        <div class="flex gap-8 items-center">
            <Image width={120} height={80} gravity={"center"} responsive={false} id={getImage(article)} />

            <div class="">
                <h2 class="text-xl font-bold">{article.name}</h2>

                <p class="max-w-5xl"><span class="text-xl font-serif mr-2">{prettyDate(article.createdAt)}</span><span class="text-gray-400">{article.summary}</span></p>
            </div>
        </div>
    </a>
))}

{(articles.length === 0) && <p>I haven't published any articles yet :(</p>}
</div>