---
import { getAllArticles } from 'src/lib/cms';

// load props
export interface Props {
  category?: string;
  pagination?: boolean;
}

const { 
    category = "",
    pagination = false
 } = Astro.props as Props;

// import components
import Image from './Image.astro';

// load articles
let articles = await getAllArticles();

---
<div>
{articles.map(article => (
    <a href={`/articles/${article.slug}`} class="border-b py-16 border-white/20 block last:border-transparent first:pt-0">
        <div class="flex flex-col justify-between relative">
            {typeof article.media == 'object' && <Image css="mb-12" id={article.media?.cloudflareImageId} width={1600} height={960} alt="" responsive={true} />}

            <div class="">
                <h2 class="text-5xl font-light mb-4">{article.name}</h2>

                <p class="text-gray-400">{article.updatedAt}</p>
            </div>
        </div>
    </a>
))}
</div>