---
import type { Media } from "@simse/app-cms/src/payload-types";

export interface Props {
    // this or
    image?: Media;

    // this
    id?: string;
    alt?: string;
    credit?: string;

    // all the other stuff
    css?: string;
    height?: number;
    width?: number;
    gravity?: string;
    placeholder?: boolean;
    responsive?: boolean;
    aspectRatio?: string;
}

// get props
let { id, alt, credit, height, width, css, placeholder = true, responsive = true, gravity = "auto", aspectRatio } = Astro.props as Props;
let { image } = Astro.props as Props;

// synth image object if not given
if (!image) {
    image = {
        id: "",
        createdAt: "",
        updatedAt: "",
        cloudflareImageId: id,
        alt,
        credit,
    };
}

// if no aspect ratio is given, calculate from height and width
if (!aspectRatio) {
    aspectRatio = `${height}/${width}`;
}

// create cloudflare images url given id, height and width
const createCloudflareUrl = (id?: string, height?: number, width?: number) => {
    if (!id) {
        return "";
    }

    return `https://imagedelivery.net/momKfEj2XLFFfTO94YnvIg/${id}/format=auto,h=${height},w=${width},fit=cover,gravity=${gravity}`;
};
---

<div
    class={"relative h-fit " + (css ? css : "")}
    style={(responsive ? '' : `height:${height}px;width:${width}px;`) + `aspect-ratio:${aspectRatio};`}
>
    <div>
        {placeholder && <img class="top-0 absolute w-full h-full -z-10" src="/images/placeholder.svg" alt="" />}

        {createCloudflareUrl(image.cloudflareImageId) !== "" && <img
            class="max-h-full w-full object-cover"
            style={`aspect-ratio:${aspectRatio};`}
            src={createCloudflareUrl(image.cloudflareImageId, height, width)}
            alt={image.alt}
        />}
    </div>
</div>

{
    (image.credit !== "" && image.credit) && (
        <p class="mt-4 text-gray-500 dark:text-gray-400">{image.credit}</p>
    )
}