---
// get breadcrumbs
import type { Breadcrumb } from '../types';

export interface Props {
	breadcrumbs: Array<Breadcrumb>;
}

const { breadcrumbs } = Astro.props as Props

const page = Astro.url.pathname;

const pages = [
    {
        name: 'Home',
        path: '/'
    },
    {
        name: 'Articles',
        path: '/articles'
    },
    {
        name: 'Projects',
        path: '/projects'
    }
];

const matchPath = (itemPath: string): boolean => {
    if (itemPath === "/") {
        return itemPath === page
    }

    return page.startsWith(itemPath)
}

const itemClass = (itemPath: string): string => {
    if (matchPath(itemPath)) {
        return "font-bold relative before:h-1 before:w-2 before:absolute before:bg-blue-700 before:rounded before:left-1/2 before:bottom-1 before:translate-x-[-50%]"
    }

    return ""
}
---

<nav class="flex justify-between py-4 max-w-6xl mx-auto border-b dark:border-gray-800">
    <div>
        <a href="/" class="hover:underline">
            <span class="font-bold text-xl">Simon Sorensen</span>
        </a>
    </div>

    <div class="flex items-center">
        <ul class="p-0 m-0 flex">
            {pages.map(page => (
                <li><a class={`p-4 mx-2 hover:underline ${itemClass(page.path)}`} href={page.path}>{page.name}</a></li>
            ))}
        </ul>
    </div>
</nav>

<div class="max-w-6xl mx-auto py-2 border-b flex gap-2 dark:border-gray-800">
    <span>~</span>
    <span>/</span>

    <a href="/" class="hover:underline">simse.io</a>

    {breadcrumbs.map(crumb => (
        <span>/</span>

        <a href={crumb.path} class="hover:underline">{crumb.name}</a>
    ))}
</div>