---
import { getImageBuilder } from '@cms';
import type { Project } from '@cms'
interface Props {
  project: Project
}

const { project } = Astro.props
---

<a
  class="relative aspect-[3/2] md:aspect-[3/4] w-full block transform-gpu transition-transform duration-300 hover:scale-105 bg-zinc-900 rounded"
  href={`/${project.slug}`}
>
  <div class="p-4 flex flex-col h-full">
    <span class="text-sm text-black/70 dark:text-white/70 font-bold mb-auto block">{project.type.toUpperCase()}</span>

    {project.icon && (
      <img
        class="w-16 h-16 mb-2"
        src={getImageBuilder(project.icon).width(128).height(128).url()}
        alt={project.icon.alt}
      />
    )}
    <span class="text-lg font-bold">
      {project.title}
    </span>
    <span class="block text-black/70 dark:text-white/70">{project.description}</span>
  </div>
</a>
