---
interface Props {
    timelineTop?: string;
    timelineColor?: string;
    markerTop?: string;
    markerColor?: string;
}

const { timelineTop = 'top-0', markerTop = 'top-10', timelineColor = 'stroke-white/20', markerColor = 'border-zinc-300' } = Astro.props;

// generate a random id for the pattern
const id = `:${Math.random().toString(36).substr(2, 9)}:`;
---
<div class="invisible md:visible">
    <!-- markers -->
    <svg
        class={`absolute left-4 h-full w-6 ${timelineTop}`}
        aria-hidden="true"
    >
        <defs>
            <pattern
                id={id}
                width="32"
                height="8"
                patternUnits="userSpaceOnUse"
            >
                <path
                    d="M 0 0 H 10 M 0 8 H 10"
                    class={`${timelineColor}`}
                    fill="none"
                ></path>
            </pattern>
        </defs>

        <rect width="100%" height="100%" fill={`url(#${id})`}></rect>
    </svg>

    <!-- marker -->
    <div class={`w-6 border-t ${markerColor} absolute left-4 ${markerTop}`}></div>
</div>