---
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import PageHeader from "@components/common/PageHeader.astro";
import { getCinemaScreensBySlug } from "@cms";

const { slug } = Astro.params;
if (!slug) {
  return Astro.rewrite('/404');
}

const cinema = await getCinemaScreensBySlug(slug);
if (!cinema) {
  return Astro.rewrite('/404');
}
---
<BaseLayout title={`${cinema.name} reviews`}>
  <Navbar />

  <main class="max-w-7xl mx-auto px-4 my-16">
    <a href="/cinema-reviews" class="mb-4 block text-zinc-300">Back to all cinemas</a>

    <img src={cinema.brand.logo.sizes.small} alt={`${cinema.brand.name} logo`} class="w-16 h-16 mb-4 rounded" />
    <PageHeader title={cinema.name} />

    <section class="grid grid-cols-4 gap-4">
    {cinema.screens.map(screen => (
      <div class="bg-zinc-900 rounded p-4 hover:scale-105 transition-transform">
        <span class="text-lg font-bold">{screen.name}</span>
      </div>
    ))}
    </section>
  </main>
</BaseLayout>
