---
import { PortableText } from "astro-portabletext";
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import PublishDate from "@components/blog/PublishDate.astro";
import Hr from "@components/blog/blocks/Hr.astro";
import type { Post } from "src/cms";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---
<BaseLayout title={post.title} canonical={`/${post.slug}`}>
  <Navbar activeItem="Blog" />

  <main class="max-w-xl mx-auto pt-8 px-2 pb-12">
    <header class="mb-8">
      <h1 class="text-3xl mb-2">{post.title}</h1>
      <PublishDate
        published={post.published}
      />
    </header>

    <article class="blog">
      <PortableText
        value={post.content}
        components={{
          type: {
            break: Hr,
          }
        }}
        onMissingComponent={(type) => {
          console.warn(`Component not found: ${type}`);
          return null;
        }}
      />
    </article>
  </main>
</BaseLayout>
