---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
import PublishDate from "@components/blog/PublishDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} canonical={`/${post.slug}`}>
  <Navbar activeItem="Blog" />

  <main class="max-w-2xl mx-auto pt-8 px-2">
    <header class="mb-8">
      <h1 class="text-2xl font-bold mb-2">{post.data.title}</h1>
      <PublishDate
        published={post.data.published}
        updated={post.data.updated}
      />
    </header>

    <article class="text-zinc-200 prose prose-invert">
      <Content />
    </article>
  </main>
</BaseLayout>
