---
import { type CollectionEntry, getCollection } from 'astro:content'
import { getImageBuilder } from '@cms'
import Navbar from '@components/Navbar.astro'
import BlogCard from '@components/blog/BlogCard.astro'
import PublishDate from '@components/blog/PublishDate.astro'
import Footer from '@components/common/Footer.astro'
import Text from '@components/text/Text.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

interface Props {
  post: CollectionEntry<'posts'>['data']
}

const { post } = Astro.props

const image = getImageBuilder(post.image)

const suggestedPosts = (await getCollection('posts')).filter(
  (p) => p.data.slug !== post.slug,
)
---

<BaseLayout 
  title={post.title} 
  canonical={`/${post.slug}`}
  description={post.excerpt}
>
  <Navbar activeItem="Blog" />

  <header class="my-8 md:my-16 md:text-center max-w-2xl mx-auto px-4">
    <PublishDate published={post.published} />
    <h1 class="text-2xl md:text-3xl my-2 font-bold">{post.title}</h1>
  </header>

  {
    post.image && (
      <figure class="my-8 md:my-16 max-w-4xl mx-auto px-4">
        <img
          class="w-full mb-2 rounded aspect-[3/2] bg-zinc-900 "
          src={image.width(1200).height(800).url()}
          alt={post.image.alt}
        />

        <figcaption class="text-zinc-400">
          {post.image.caption}
        </figcaption>
      </figure>
    )
  }

  <main class="mx-auto max-w-4xl px-4 pb-12">
    <Text content={post.content} />
  </main>

  {suggestedPosts.length > 0 ? <section class="my-16 px-3 max-w-5xl mx-auto">
    <h2 class="text-lg mb-2">Suggested Posts</h2>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {
        suggestedPosts.slice(0, 6).map((post) => (
          <li>
            <BlogCard post={post} dateWithYear={true} />
          </li>
        ))
      }
    </ul>
  </section> : null}

  <Footer />
</BaseLayout>
