---
import { Image } from '@astrojs/image/components';
import wink from '../images/wink.png';
import bg from '../images/bg2.png';
import simse from '../images/simse.webp';

import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
import Hero from '../parts/Hero.astro';

const personalInformation = [
	{
		key: 'Name',
		value: 'Simon Sorensen'
	},
	{
		key: 'Email',
		value: 'hello@simse.io',
		href: 'mailto:hello@simse.io'
	},
	{
		key: 'Weight',
		value: '93.3kg',
		href: '/weight-loss-journey'
	},
	{
		key: 'City',
		value: 'London 😎'
	},
	{
		key: 'Occupation',
		value: 'Software Engineering Intern'
	},
	{
		key: 'Employer',
		value: 'LEGO'
	},
	{
		key: 'Degree',
		value: 'Computer Science'
	},
	{
		key: 'University',
		value: 'Kingston University'
	},
	{
		key: 'Social Security',
		value: '078-05-1120'
	},
];
---

<Layout title="Welcome" noSpacing={true}>
	<div>
		<Image src={bg} width={3000} format="webp" quality={90} alt="bruh" />

		<div class="absolute top-[15vw] min-w-full">
			<h1 class="text-9xl text-center text-[#FFE7E9] font-[Recoleta] font-light select-none">Is this picture real?</h1>
		</div>
	</div>

	<div class="my-40">
		<h1 class="text-5xl font-[Recoleta] font-light text-center mb-16">Some of it is real.</h1>

		<Image class="mx-auto" src={simse} width={600} format="webp" quality={90} alt="bruh" />

		<h1 class="text-5xl font-[Recoleta] font-light text-center mt-40">The rest? That's thanks to AI.</h1>
		<p class="text-center mt-8">Thank you, DALL·E!</p>
	</div>
	
	<div class="py-8 border-b dark:border-gray-800">
		<h2 class="text-lg font-bold mb-4">About</h2>
	
		<table class="dark:border-gray-800">
			<tbody>
				{personalInformation.map(pi => (
					<tr class="border-b dark:border-gray-800 border-x first:border-t">
						<td class="py-2 px-2 min-w-[8rem] first:font-bold">{pi.key}</td>
						<td class="py-2 px-2 min-w-[8rem] first:font-bold">
							{!pi.href && 
							<>{pi.value}</>}

							{pi.href && 
							<a href={pi.href} class="hover:underline text-blue-800 hover:text-blue-900 dark:text-blue-500 dark:hover:text-blue-600">{pi.value}</a>}
						</td>
					</tr>
				))}
			</tbody>
		</table>
	</div>
	
	<div class="py-8 ">
		<h2 class="text-lg font-bold mb-4">Articles</h2>
	
		<ArticleList />
	</div>
</Layout>
