---
import Layout from '@layouts/Layout.astro';
import PageTitle from '@components/PageTitle.astro';
import { getAllProjectsGroupByCategory } from 'src/lib/cms';
import Image from '@components/Image.astro';

const projectCategories = await getAllProjectsGroupByCategory();
---

<Layout title="Projects">
	<PageTitle>Projects</PageTitle>

	{projectCategories.map(category => (
		<div class="mb-8">
			<h2 class="text-lg font-bold pb-2 mt-2 mb-4 w-full border-b border-white/20">{category.plural || category.name}</h2>

			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
			{category.projects.map(project => (
					<div class="mb-4 md:mb-0">
						<Image image={project.media} aspectRatio="5/3" height={500} width={300} />

						<h2 class="my-2 font-bold text-xl">{project.name}</h2>

						<div class="flex gap-2 mb-2">
							{project.language?.map(language => (
								<span class="text-sm font-bold py-1 px-2 rounded-full" style={`background:#${language.colour};color:#${language.text_colour};`}>{language.name}</span>
							))}
						</div>

						<p class=" text-gray-400">{project.summary}</p>
					</div>
			))}
			</div>
		</div>
	))}
</Layout>

