---
// import components
import Layout from "@layouts/Layout.astro";
import PageTitle from "@components/PageTitle.astro";

// import data
import { projectLanguages, projectTypes } from "@data/taxonomy.ts";

// create breadcrumbs
const breadcrumbs = [
	{
		name: "Projects",
		path: "/projects",
	},
];

// import projects
let projects = await Astro.glob("../pages/projects/*.mdx");

// group by type
let projectByType = projects.reduce(
	(r, a) => {
        r[a.frontmatter.type] = r[a.frontmatter.type] || [];
        r[a.frontmatter.type].push(a);

        return r;
    }, Object.create(null)
);
---

<Layout title="Projects" breadcrumbs={breadcrumbs}>
	<PageTitle>Projects</PageTitle>

	{
		Object.keys(projectByType).map((pt) => (
			<div class="mb-8">
				<h2 class="mb-4 font-bold text-lg">
					{projectTypes[pt].plural}
				</h2>

				<div>
					{projectByType[pt].map((project) => (
						<a
							href={`${project.frontmatter.repo}`}
							target="blank"
							class="first:border-t border-b border-gray-200 dark:border-gray-800 block"
						>
							<div class="my-1 py-1 flex items-center gap-3">
								<span class="min-w-[82px]">
									{project.frontmatter.releaseDate}
								</span>

								<h2 class="font-bold hover:underline text-blue-800 hover:text-blue-900 dark:text-blue-500 dark:hover:text-blue-600">
									{project.frontmatter.title}
								</h2>

								<div class="flex">
									{project.frontmatter.languages.map((l) => {
										let colour = projectLanguages[l].colour;
										let textColour =
											projectLanguages[l].textColour;
										let short = projectLanguages[l].short;

										return (
											<p
												class="px-2 font-bold text-sm mr-2"
												style={`background:#${colour};color:#${textColour};font-family:'IBM Plex Mono';`}
											>
												{short}
											</p>
										);
									})}
								</div>

								<button class="ml-auto text-white bg-blue-700 py-0.5 px-4 text-sm border border-black hover:bg-black dark:hover:bg-gray-800">
									More →
								</button>
							</div>
						</a>
					))}
				</div>
			</div>
		))
	}
</Layout>
