---
import type { Article } from "@simse/app-cms/src/types";

export interface Props {
	article: Article
}
const { article } = Astro.props;

import Layout from "./Layout.astro";
import Image from "../components/Image.astro";
import "../styles/article.scss";
import "../styles/prism.css";
import { prettyDate } from "src/utils/date";

---
<Layout title={article?.name || ""} description={""} disableMaxWidth={true} noSpacing={true}>
	<!-- Featured Image -->
	<Image image={article.media}  height={800} width={2000} gravity={"center"} />

	<!-- Heading Metadata -->
	<div class="px-64 py-32">
		<h1 class="text-7xl font-serif max-w-7xl mb-8 font-bold">{article.name}</h1>

		<p class="text-gray-300 text-lg">Published on {prettyDate(article.createdAt)}</p>
	</div>



	<div class="article max-w-4xl prose prose-xl dark:prose-invert mx-auto">
		<slot />
	</div>
</Layout>