---
import type { Article } from "@simse/app-cms/src/types";

export interface Props {
	article: Article
}
const { article } = Astro.props;

import Layout from "./Layout.astro";
import Image from "../components/Image.astro";
import "../styles/prism.css";
import { prettyDate } from "src/utils/date";

---
<Layout title={article?.name || ""} description={""} disableMaxWidth={true} noSpacing={true}>
	<!-- Heading Metadata -->
	<div class="px-4 py-16 pl-[15vw]">
		{false && <div class="mb-4">
		{article.category.map((category) => (
			<a href={`/category/${category.slug}`} class="bg-blue-700 px-3 py-1 mr-2 rounded-full inline-block">{category.name}</a>
		))}
		</div>}

		<h1 class="text-4xl mb-4">{article.name}</h1>

		<p class="text-xl mb-16">{prettyDate(article.createdAt)}</p>

		<div class="max-w-[1400px]">
			<!-- Featured Image -->
			<Image image={article.media}  height={800} width={1200} gravity={"center"} />
		</div>
	</div>

	<div class="article max-w-7xl px-4 prose prose-xl prose-invert pl-[15vw] break-auto">
		<slot />
	</div>
</Layout>