---
import type { Article } from "@simse/app-cms/src/types";

export interface Props {
	article: Article
}
const { article } = Astro.props;

import Layout from "./Layout.astro";
import Image from "../components/Image.astro";
import "../styles/prism.css";
import { prettyDate } from "src/utils/date";

---
<Layout title={article?.name || ""} description={""} disableMaxWidth={true} noSpacing={true}>
	<!-- Heading Metadata -->
	<div class="px-4 py-16 max-w-[1600px] mx-auto">
		{false && <div class="mb-4">
		{article.category.map((category) => (
			<a href={`/category/${category.slug}`} class="bg-blue-700 px-3 py-1 mr-2 rounded-full inline-block">{category.name}</a>
		))}
		</div>}

		<h1 class="text-2xl max-w-6xl mb-4">{article.name}</h1>

		<p class="text-sm mb-16"><strong>{prettyDate(article.createdAt)}</strong></p>

		<div class="max-w-4xl">
			<!-- Featured Image -->
			<Image image={article.media}  height={800} width={800} gravity={"center"} />
		</div>
	</div>

	<div class="article max-w-[1600px] px-4 prose prose-lg dark:prose-invert mx-auto">
		<slot />
	</div>
</Layout>