---
const { content } = Astro.props;

import Layout from "./Layout.astro";
import Image from "../components/Image.astro";
import "../styles/article.scss";
import "../styles/prism.css";


const breadcrumbs = [
	{
		name: 'Articles',
        path: '/articles'
	},
    {
        name: content.title,
        path: `/articles/${content.slug}`
    }
]
---
<Layout title={content.title} description={content.description} breadcrumbs={breadcrumbs}>
    <div class="mb-16">
		<div class="">
			<h1 class="text-3xl mb-5">{content.title}</h1>
			<p class="text-md text-gray-600 dark:text-gray-300">
				{content.date} — 
			</p>
		</div>
	</div>

	<div class="article max-w-3xl prose prose-lg dark:prose-invert">
		<slot />
	</div>
</Layout>