---
import { getAverageColor } from "fast-average-color-node";
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';
import Tag from '@/components/blog/Tag.astro';

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

// find dominant colour in cover image
let dominantColor = { hex: "#555" };
try {
  let filenameParts = post.data.cover.src
    .split("/")
    .pop()
    ?.split("?")
    .shift()
    ?.split(".");
  let filename = `${filenameParts?.shift()}.${filenameParts?.pop()}`;

  if (import.meta.env.PROD) {
    dominantColor = await getAverageColor(`src/assets/${filename}`, {
      mode: "precision",
      algorithm: 'sqrt',
      ignoredColor: [0, 0, 0, 1],
    });
  }
} catch (e) {
  console.error(`could not find dominant color for ${post.slug}: ${e}`);
}
---

<a href={`/posts/${post.slug}`}>
  <article
    class="bg-zinc-900 border-2 border-zinc-800 rounded-md overflow-clip transition-colors hover:border-[var(--dominantColor)] relative h-full"
    style={`--dominantColor: ${dominantColor.hex}`}
  >
    {/* Tags overlay, yay! */}
    <div class="absolute top-2 left-2 w-full pr-2">
      {post.data.tags?.map((tag) => <Tag title={tag} />)}
    </div>

    <div class="bg-zinc-800 w-full aspect-w-8 aspect-h-5 overflow-clip">
        <Image src={post.data.cover} height="500" width="800" alt={post.data.coverAlt} />
    </div>

    <div class="p-4">
      <p class=" mb-1 text-blue-300">
        {
          post.data.publishedOn.toLocaleDateString("en-GB", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>

      <h2 class="text-xl font-bold mb-3">{post.data.title}</h2>

      <p class="text-zinc-300 hyphens-auto">{post.data.excerpt}</p>
    </div>
    </article>
</a>
