---
interface Props {
    title: string;
    href?: string;
    fontSize?: 'text-sm' | 'text-lg' | 'text-xl';
    selected?: boolean;
}

const { title, href, fontSize = 'text-sm', selected = false } = Astro.props;

// map to colour
const colourMap: {
    [key: string]: string;
} = {
    red: "hover:bg-red-700 hover:border-red-900 hover:text-red-200",
    orange: "hover:bg-orange-700 hover:border-orange-900 hover:text-orange-200",
    amber: "hover:bg-amber-700 hover:border-amber-900 hover:text-amber-200",
    yellow: "hover:bg-yellow-700 hover:border-yellow-900 hover:text-yellow-200",
    lime: "hover:bg-lime-700 hover:border-lime-900 hover:text-lime-200",
    green: "hover:bg-green-700 hover:border-green-900 hover:text-green-200",
    emerald: "hover:bg-emerald-700 hover:border-emerald-900 hover:text-emerald-200",
    teal: "hover:bg-teal-700 hover:border-teal-900 hover:text-teal-100",
    cyan: "hover:bg-cyan-700 hover:border-cyan-900 hover:text-cyan-100",
    sky: "hover:bg-sky-700 hover:border-sky-900 hover:text-sky-100",
    blue: "hover:bg-blue-700 hover:border-blue-900 hover:text-blue-200",
    indigo: "hover:bg-indigo-700 hover:border-indigo-900 hover:text-indigo-200",
    violet: "hover:bg-violet-700 hover:border-violet-900 hover:text-violet-200",
    purple: "hover:bg-purple-700 hover:border-purple-900 hover:text-purple-200",
    fuchsia: "hover:bg-fuchsia-700 hover:border-fuchsia-900 hover:text-fuchsia-200",
    pink: "hover:bg-pink-700 hover:border-pink-900 hover:text-pink-200",
    rose: "hover:bg-rose-700 hover:border-rose-900 hover:text-rose-200"
}

const selectedolourMap: {
    [key: string]: string;
} = {
    red: "bg-red-700 border-red-900 text-red-200",
    orange: "bg-orange-700 border-orange-900 text-orange-200",
    amber: "bg-amber-700 border-amber-900 text-amber-200",
    yellow: "bg-yellow-700 border-yellow-900 text-yellow-200",
    lime: "bg-lime-700 border-lime-900 text-lime-200",
    green: "bg-green-700 border-green-900 text-green-200",
    emerald: "bg-emerald-700 border-emerald-900 text-emerald-200",
    teal: "bg-teal-700 border-teal-900 text-teal-100",
    cyan: "bg-cyan-700 border-cyan-900 text-cyan-100",
    sky: "bg-sky-700 border-sky-900 text-sky-100",
    blue: "bg-blue-700 border-blue-900 text-blue-200",
    indigo: "bg-indigo-700 border-indigo-900 text-indigo-200",
    violet: "bg-violet-700 border-violet-900 text-violet-200",
    purple: "bg-purple-700 border-purple-900 text-purple-200",
    fuchsia: "bg-fuchsia-700 border-fuchsia-900 text-fuchsia-200",
    pink: "bg-pink-700 border-pink-900 text-pink-200",
    rose: "bg-rose-700 border-rose-900 text-rose-200"
}

const getTailwindColor = (inputString: string): string => {
    const colors = Object.keys(colourMap);

    let sum = 0;
    
    for(let i = 0; i < inputString.length; i++) {
        sum += Math.floor(inputString.charCodeAt(i) * 3.77);
    }
    
    const index = sum % colors.length;
    if (selected) {
        return selectedolourMap[colors[index]];
    }

    return colourMap[colors[index]];
}

const style = `hover:cursor-pointer text-zinc-100 bg-zinc-800 border-zinc-700 transition-colors border rounded-full px-3 py-1 ${fontSize} ${getTailwindColor(title)}`;
---
{href && <a href={href} class={style}>{title}</a>}
{!href && <span class={style}>{title}</span>}

