---
import { Icon } from "astro-icon/components";
import { getImageBuilder } from "src/cms";
import type { Post } from "src/cms";

interface Props {
  year: string;
  posts: Post[];
}

const { year, posts } = Astro.props;

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", { month: "long", day: "numeric" });
};

const postsWithImages = await Promise.all(
  posts.map(async (post) => {
    const imageBuilder = await getImageBuilder(post.image);
    let image = null;

    if (post.image) {
      image = imageBuilder.width(600).height(400).url();
    }

    return { ...post, image };
  })
);
---

<section
  class="my-2 pb-2 mb-8"
>
  <h2 class="text-xl text-black/70 dark:text-white/70 mb-4">{year}</h2>

  <ul class="grid grid-cols-1 sm:grid-cols-2">
    {
      postsWithImages.map((post) => (
        <li>
          <a
            class="relative aspect-[3/2] w-full flex items-end transform-gpu transition-transform duration-300 hover:scale-105"
            href={`/${post.slug}`}
          >
            {post.image && <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent rounded mb-2 z-10 h-full" />}
            <div class="aspect-[3/2] w-full h-full object-cover bg-zinc-900 rounded mb-2 absolute top-0 z-0 overflow-clip">
              {post.image &&
                <img
                  class="w-full h-full"
                  src={post.image}
                  alt=""
                />}
            </div>

            <div class="z-20 absolute p-4">
              <span class="text-lg">
                {post.title}
              </span>
              <span class="block text-black/70 dark:text-white/70">
                {formatDate(post.published)}
              </span>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</section>
