---
import type { CollectionEntry } from "astro:content";
import { Icon } from 'astro-icon/components';

interface Props {
    year: string;
    posts: CollectionEntry<'blog'>[];
}

const { year, posts } = Astro.props;

const formatDate = (date: Date) => {
    return date.toLocaleDateString('en-US', { month: 'long', day: 'numeric' });
};
---
<section class="my-2 pb-2 border-t border-zinc-500 grid grid-cols-1 md:grid-cols-12 mb-12">
    <span class="text-xl text-zinc-300 col-span-3 mt-3">{year}</span>

    <ul class="col-span-9">
        {posts.map((post) => (
            <li>
                <a
                    class="py-4 md:px-2 grid grid-cols-10 items-center border-b border-zinc-700 hover:bg-zinc-900"
                    href={`/${post.slug}`}
                >
                    <span class="col-span-8 md:col-span-6">
                        <span class="text-zinc-400 text-sm md:hidden">{formatDate(post.data.published)} <br/></span>

                        {post.data.title}
                    </span>
                    <span class="hidden md:block md:col-span-2 text-zinc-400">
                        {formatDate(post.data.published)}
                    </span>
                    <button
                        class="col-span-2 justify-self-end bg-blue-700 px-3 py-1 border border-blue-600 rounded-full flex items-center w-fit"
                    >
                        Read <Icon name="tabler:arrow-narrow-right" class="" size={20} />
                    </button>
                </a>    
            </li>
        ))}
    </ul>
</section>