---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const citiesOnFilm = await getCollection("cities-on-film");

  return citiesOnFilm.map((entry) => ({
    params: { city: entry.slug },
    props: { entry },
  }));
}

import BaseLayout from "@/layouts/base.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { formatPostDate } from "@/common";
import Tag from "@/components/blog/Tag.astro";

interface Props {
    entry: CollectionEntry<'cities-on-film'>
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---
<style lang="scss" is:inline>
    img {
        margin: 0 auto 2rem auto;
        background: #222;

        @media (min-width: 1200px) {
            margin-bottom: 6rem;
        }
    }
</style>

<BaseLayout meta={{
    title: entry.data.title,
    description: entry.data.seo?.description || ''
}}>
    <Navbar floating={false} />

    <header class="max-w-7xl mx-auto pt-24 lg:pt-48 pb-24 px-4">
        <h2 class="font-serif font-light text-4xl md:text-6xl mb-2">{entry.data.title}</h2>
        <p class="mb-12 text-2xl">{entry.data.titleSuffix}</p>

        <p class="text-lg md:text-xl lg:text-2xl max-w-4xl text-zinc-300 mb-24">
            {entry.data.story}
        </p>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-y-8">
            <div>
                <strong>Camera</strong>

                <p>{entry.data.camera}</p>
            </div>

            <div>
                <strong>Lens</strong>

                {entry.data.lens.map(lens => <p>{lens}</p>)}
            </div>

            <div>
                <strong>35mm Film</strong>

                {entry.data.film.map(film => <p>{film}</p>)}
            </div>

            <div>
                <strong>Last Updated</strong>

                <p>{formatPostDate(entry.data.lastUpdated)}</p>
            </div>
        </div>
    </header>

   <main class="mb-16 max-w-[2000px] mx-auto text-xl text-zinc-300">
        <Content />
   </main>

   <Footer />
</BaseLayout>