---
import Icon from "astro-icon";
import PageHeader from "@/components/PageHeader.astro";
import ContainerLayout from "@/layouts/container.astro";

---
<ContainerLayout meta={{
    title: 'Cities on Film by Simon Sorensen',
    description: 'Lots of pictures of cities taken on film which gives a nice warm, nostalgic feeling. Most pictures are taken in London.',
}}>
    <PageHeader title="Cities on Film" subtitle="I bought a film camera and I live in a city, so here we are." />


    {/*Object.keys(albums).map(albumCategory => (<section>
        <h2 class="font-bold w-full border-b border-zinc-700 pb-3">{albumCategory}</h2>

        {Object.keys(albums[albumCategory]).map(album => (
            <a href={albums[albumCategory][album].publicUrl} target="_blank">
                <article class="py-8">
                    <div class="flex items-center mb-3">
                        <h3 class="font-serif text-3xl mr-3">{album}</h3>

                        <button class="flex gap-2 text-zinc-200 hover:text-blue-200 ml-auto">Open <Icon name="pixelarticons:open" size="24" /></button>
                    </div>

                    <div class="flex gap-2 pb-4 max-w-full overflow-x-scroll scrollbar-none hover:pb-2 hover:scrollbar-thin scrollbar-track-zinc-800 scrollbar-thumb-zinc-500">
                    {albumImages[albums[albumCategory][album].id].slice(0, 10).map(image => (
                        <div class="w-48 h-48 shrink-0 relative">
                            <img class="object-cover h-full w-full" src={image.thumbhashDataUri} alt='' />

                            <img class="object-cover w-full h-full z-10 absolute top-0 left-0" src={`/cities-on-film/image-proxy?assetId=${image.id}`} alt='' />
                        </div>
                    ))}

                        {albumImages[albums[albumCategory][album].id].length > 10 ? <div class="w-48 h-48 shrink-0 bg-zinc-800 flex justify-center items-center">
                            <p class="text-zinc-200 text-2xl">+{albumImages[albums[albumCategory][album].id].length - 10}</p>
                        </div> : null}
                    </div>
                </article>
            </a>
        ))}
        </section>))*/}
        <a href="/cities-on-film/kingston">Kingston</a>
</ContainerLayout>