---
// declare category pages to generate
export async function getStaticPaths() {
    // find all articles
    const articles = await Astro.glob('../*.mdx');

    // create array for all article categories
    let categories = articles.map(article => article.frontmatter.categories).flat();

    // filter out duplicates
    categories = categories.filter((value, index, self) => {
        return self.indexOf(value) === index;
    });

    // create array of possible params this route could be visited with (i.e. every category)
    return categories.map(category => ({
        params: {
            slug: category
        }
    }))
}

// get category slug
const { slug } = Astro.params;

// get category name from slug
import { articleCategories } from "@data/taxonomy.ts";
const name = articleCategories[slug].name;
const description = articleCategories[slug].description;

// import components
import Layout from '@layouts/Layout.astro';
import PageTitle from '@components/PageTitle.astro';
import ArticleList from '@components/ArticleList.astro';

// create breadcrumbs
const breadcrumbs = [
	{
		name: 'Articles',
        path: '/articles'
	},
    {
        name: name,
        path: `/articles/category/${slug}`
    }
]
---

<Layout title={`${name} Articles`} breadcrumbs={breadcrumbs}>
    <PageTitle>{name} Articles</PageTitle>
    <p class="text-lg mb-16 max-w-2xl">{description}</p>

    <ArticleList category={slug} />
</Layout>