---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import Navbar from "@components/Navbar.astro";
import {getWorkExperienceBySlug} from "@cms";
import Text from "@components/text/Text.astro";

const {slug} = Astro.params;
if (!slug) {
    Astro.rewrite('/404');
}

const experience = await getWorkExperienceBySlug(slug);
---
<BaseLayout title="CV">
    <Navbar/>

    <main class="px-2 py-8 max-w-2xl mx-auto">
        <PageHeader
                title={experience.title}
                subtitle={`At ${experience.employer} in ${experience.location}.`}
        />

        <Text content={experience.details} />
    </main>
</BaseLayout>